* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 1211px;
  margin: 0 auto;
}
.container:before {
  content: ' ';
  display: table;
}
.container:after {
  content: ' ';
  display: table;
  clear: both;
}
img {
  display: inline-block;
  vertical-align: middle;
}
.header .welcome {
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #aaa;
  margin-left: 2em;
  padding-left: 2em;
}
.main .container {
  position: relative;
  overflow: hidden;
}
.video-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
}
.box {
  margin: 150px auto;
  width: 500px;
  background: rgba(255,255,255,.6);
  border-radius: 5px;
  padding: 15px;
}






